body {
    background-color: rgb(243, 244, 239);
    color: rgb(109, 110, 172);
    h1{
        color: aliceblue;
    }
}



.dark{
    background-color: rgb(103, 103, 146);
    color: rgb(18, 11, 105);
    
}

p{
    font-weight: 600;
}

a{
    color: black;
    text-decoration: none;
}

.main-option-box {
    text-align: center;
    background-color: #d6c7cc;
    border-radius: 7px;
    font-weight: 500;
  }

  h3{
    font-weight: 650;
  }